*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BODY*/

body{
    background-color: #d2d2d2;
}
/*Header-Nav*/
.contenedor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px auto 200px;
}
header{
    grid-row:1/2;
    grid-column:1/5 ;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    top: 0;
    width: 100%;
}
nav{
    background-color:rgb(130 128 128);
    width: 100%;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.Logo{
    margin: 20px;
}
.menu{
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    
}
.menu li{
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    letter-spacing: 2px;
    padding: 20px;
    margin: 20px;
}

.menu li a{
    text-decoration: none;
    color:white;
    text-align: center;
}
.menu li a:hover{
    color: rgb(5, 5, 5);
    background-color: rgba(217, 100, 100, 0.627);
    opacity: 0.6;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
} 

/*INDEX*
/*Main-Seccion Index*/
main{
    grid-row:2/3;
    grid-column:1/5;
    width: 100%;
}
.PrimerParrafo{
    background-color: lightcoral;
    opacity: 0.6;
    width: 80vw;
    margin: 0 auto;
}
.Parrafo1{
    width:100%;
    margin: 20px auto;
    padding: 20px;
    color: rgb(43, 36, 36);
    font-family: 'Libre Bodoni', serif;
    font-size: 1.2rem;
    text-align: center;
}
/*Seccion1*/
.imagenesIndex{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    align-items:center;
    }

.imagenesIndex__fotosPrincipal{ 
    grid-column:1/1;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;
    margin: 20px;

}
.imagenesIndex__fotosTres{
    grid-column:2/2;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;
}
.imagenesIndex__fotosCuatro{
    grid-column:3/3;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center
}
.imagenesIndex__fotosCinco{
    grid-column:4/4;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;
}

/*FOOTER*/
footer{
    grid-row:3/4;
    grid-column:1/5 ;
    width: 100%;
    position: relative;
    display:flex;
    align-items: center;
    flex-direction:column;
    background-color: rgb(65 65 65);
    color: white;
}
.redes1{
    margin: 8px;
    
}
.sug2{
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 25px;
}
.sug2:hover{
    color: rgb(5, 5, 5);
    background-color: rgba(217, 100, 100, 0.627);
    border-radius: 10%;
}
.alumna{
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
}
/*TRABAJOS*/
.ptrabajos{
    width:50%;
    background-color:#cdc8c800;
    margin: 20px auto;
    padding: 20px;
    color: rgb(42, 39, 39);
    font-family: 'Libre Bodoni', serif;
    font-size: 1.2rem;
    text-align: justify;
}
.retratos{
    text-align: center;
    font-family:'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}
.naturaleza{
    text-align: center;
    font-family:'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}
/*ACERCA DE MI*/
.ParrafoBio{
    background-color: lightcoral;
    opacity: 0.6;
    width: 80vw;
    margin: 0 auto;
}
.pbiografia{
    width: 75%;
    margin: 10px auto;
    padding: 10px;
    color: black;
    font-family: 'Libre Bodoni', serif;
    font-size: 1.1rem;
    text-align:left;
}
.biografia{
    margin-top: 20px;
    text-align: center;
    font-family:'Shadows Into Light', cursive;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.imagess{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    display:flex;
    justify-content: space-around;
    margin-top: 40px;
}
.acerca1:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
.acerca2:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
.acerca3:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
.acerca4:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}

/*MODA*/
/*seccion 1 moda*/

.VideosOut{
    width: 100%;
    display: grid;
    grid-template-columns: 1f 1fr;
    grid-template-rows: auto;
    gap: 10px;
    justify-items: center;
}

.parrafomoda{
    width:50%;
    background-color:#cdc8c800;
    margin: 20px auto;
    padding: 20px;
    color: rgb(42, 39, 39);
    font-family: 'Libre Bodoni', serif;
    font-size: 1.2rem;
    text-align: justify;
}

.losOutfitsTitulo{
    text-align: center;
    font-family:'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}

@media only screen and (max-width:480px){

    body{
        background-color: beige;
    }
.contenedor{
        display: grid;
        grid-template-columns: 480px;
        grid-template-rows:auto
    } 

header{
    grid-row:1/2;
    grid-column:1/1 ;
}


main{
    grid-row:2/3;
    grid-column:1/1 ;

}
footer{
    grid-row:3/4;
    grid-column:1/1 ;
}

.imagenesIndex{
    display: flex;
    flex-wrap: wrap;
} 
.imagenesRetratos{
    display: flex;
    flex-wrap: wrap;
}
.imagess{
    display: flex;
    flex-wrap: wrap;
}
} 

